GRC Sync.json
{
  "name": "GRC Sync",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1744,
        -592
      ],
      "id": "24e12fa8-79e4-4f7e-ad22-c1d146664beb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/planner/plans/hQmOKVyxdE2b31A26zkK8mQAHNf1/tasks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1536,
        -592
      ],
      "id": "5fcfe78f-224a-4e36-8db2-f1a18988e2a4",
      "name": "SGSI Tasks",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "gqm5Nc81sRbFMyJG",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/planner/plans/hQmOKVyxdE2b31A26zkK8mQAHNf1/details",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1328,
        -592
      ],
      "id": "7c8cfe74-db2f-4bdf-982b-eef32f24e6a8",
      "name": "SGSI Details",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "gqm5Nc81sRbFMyJG",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/planner/plans/kqo6sg2CbUe5fO4ppno0UWQADUMp/tasks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1120,
        -592
      ],
      "id": "2c9025d6-0aa0-4cd9-8ab9-09ee133fc6cb",
      "name": "Automação Tasks",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "gqm5Nc81sRbFMyJG",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/planner/plans/kqo6sg2CbUe5fO4ppno0UWQADUMp/details",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -912,
        -592
      ],
      "id": "5959575a-86b3-471f-8b88-792428e8959d",
      "name": "Automação Details",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "gqm5Nc81sRbFMyJG",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const USER_MAP = {\n  \"4a195462-41fc-40cd-816e-706352a55ee1\": \"Marcos\",\n  \"9176c359-9e5d-4e6a-9afc-c3893b353bff\": \"Priscilla\",\n  \"177c011b-6941-4805-83dd-68d4d7415b05\": \"Leonardo\"\n};\n\nconst BUCKET_STATUS = {\n  // SGSI\n  \"iqEMo_qIRUi3sGEg2bVd7WQAE9ph\": \"Concluído\",\n  \"EsDsqxnewEGW-dpFzOd7emQAB88I\": \"Validação\",\n  \"ooyO_J4ikECteROSOwnRZ2QAA1R_\": \"Bloqueado\",\n  \"O1o2AnJO2EaCi89nu8EDE2QAPbpy\": \"Em andamento\",\n  \"NdVawu2UoE6C2I59SpVt5mQACxjI\": \"Planejada\",      // antes: Não iniciado\n  \"ebFWNyPhnkG9fzC53X3uVmQAPPjq\": \"Backlog\",        // antes: Não iniciado (VALIDAR)\n  // Automação\n  \"oFt0HQAr7UmqAlkuR5yV2WQAL4U2\": \"Concluído\",\n  \"HN1MeCDw3UGcO4ZHL0vZGGQAG74W\": \"Validação\",\n  \"eiTJGsIOtE2nfjbLXH7JjGQANF9Z\": \"Bloqueado\",\n  \"AajSEm2iYkajxIVl0V5d7WQAN9kd\": \"Em andamento\",\n  \"X9BJB_gyJk6MZxrVIffT9WQAEeyD\": \"Planejada\",      // antes: Não iniciado\n  \"geFjqrqn806nh1o0n89tzWQAHypL\": \"Backlog\"         // antes: Não iniciado (VALIDAR)\n};\n\nconst PLAN_PILAR = {\n  \"hQmOKVyxdE2b31A26zkK8mQAHNf1\": \"Segurança da Informação\",\n  \"kqo6sg2CbUe5fO4ppno0UWQADUMp\": \"Processos / Lean\"\n};\n\nconst PLANEJAMENTO_BUCKETS = [\n  \"NdVawu2UoE6C2I59SpVt5mQACxjI\",\n  \"X9BJB_gyJk6MZxrVIffT9WQAEeyD\"\n];\n\nconst BACKLOG_BUCKETS = [\n  \"ebFWNyPhnkG9fzC53X3uVmQAPPjq\",\n  \"geFjqrqn806nh1o0n89tzWQAHypL\"\n];\n\nfunction formatDate(iso) {\n  if (!iso) return \"\";\n  return iso.split(\"T\")[0];\n}\n\nfunction resolveResponsavel(assignments) {\n  if (!assignments) return \"Equipe\";\n  const ids = Object.keys(assignments);\n  if (!ids.length) return \"Equipe\";\n  for (const id of ids) {\n    if (USER_MAP[id]) return USER_MAP[id];\n  }\n  return \"Equipe\";\n}\n\nfunction resolveAreaCliente(appliedCategories, categoryDescriptions) {\n  if (!appliedCategories || !categoryDescriptions) return \"Todas as áreas\";\n  const labels = Object.entries(appliedCategories)\n    .filter(([, v]) => v === true)\n    .map(([k]) => categoryDescriptions[k])\n    .filter(Boolean);\n  return labels.length > 0 ? labels[0] : \"Todas as áreas\";\n}\n\nfunction resolveStatus(bucketId, percentComplete, dueDateTime) {\n  const bucketStatus = BUCKET_STATUS[bucketId] || \"Backlog\";\n\n  // Bloqueado, Validação e Concluído têm prioridade\n  if (bucketStatus === \"Bloqueado\")  return \"Bloqueado\";\n  if (bucketStatus === \"Validação\")  return \"Validação\";\n  if (bucketStatus === \"Concluído\" || percentComplete === 100) return \"Concluído\";\n\n  // Atraso: dueDate venceu e tarefa não está em nenhum dos estados acima\n  // Aplica para Em andamento e Planejada (Backlog não conta como atrasado)\n  if (dueDateTime && bucketStatus !== \"Backlog\") {\n    const due = new Date(dueDateTime);\n    const today = new Date(); today.setHours(0,0,0,0);\n    if (due < today) return \"Atrasado\";\n  }\n\n  return bucketStatus;\n}\n\nconst sgsiTasks = $('SGSI Tasks').first().json.value || [];\nconst sgsiCats  = $('SGSI Details').first().json.categoryDescriptions || {};\nconst autoTasks = $('Automação Tasks').first().json.value || [];\nconst autoCats  = $('Automação Details').first().json.categoryDescriptions || {};\n\nconst allTasks = [\n  ...sgsiTasks.map(t => ({ ...t, _cats: sgsiCats })),\n  ...autoTasks.map(t => ({ ...t, _cats: autoCats }))\n];\n\nlet counter = 1;\n\nreturn allTasks.map(task => ({\n  json: {\n    plannerTaskId:        task.id,\n    id:                   `AT-${String(counter++).padStart(3, \"0\")}`,\n    atividade:            task.title.trim(),\n    pilar:                PLAN_PILAR[task.planId] || \"Segurança da Informação\",\n    areaCliente:          resolveAreaCliente(task.appliedCategories, task._cats),\n    responsavel:          resolveResponsavel(task.assignments),\n    prioridade:           \"Média\",\n    status:               resolveStatus(task.bucketId, task.percentComplete, task.dueDateTime),\n    inicio:               formatDate(task.createdDateTime),\n    prazo:                formatDate(task.dueDateTime),\n    completedDateTime:    formatDate(task.completedDateTime),\n    isBacklog:            BACKLOG_BUCKETS.includes(task.bucketId),\n    isPlanejamentoSemana: PLANEJAMENTO_BUCKETS.includes(task.bucketId),\n    percentualConcluido:  task.percentComplete || 0,\n    entregavel:           \"\",\n    observacoes:          \"\"\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -592
      ],
      "id": "66d1fffc-0bbe-492b-beaa-6443fd83363a",
      "name": "Transformar Tarefas"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/chats",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"chatType\": \"oneOnOne\",\n  \"members\": [\n    {\n      \"@odata.type\": \"#microsoft.graph.aadUserConversationMember\",\n      \"roles\": [\"owner\"],\n      \"user@odata.bind\": \"https://graph.microsoft.com/v1.0/users/4a195462-41fc-40cd-816e-706352a55ee1\"\n    },\n    {\n      \"@odata.type\": \"#microsoft.graph.aadUserConversationMember\",\n      \"roles\": [\"owner\"],\n      \"user@odata.bind\": \"https://graph.microsoft.com/v1.0/users/9176c359-9e5d-4e6a-9afc-c3893b353bff\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        -592
      ],
      "id": "2e8fafbb-bde8-47c4-92c8-80484e6f837a",
      "name": "Criar Chat",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "gqm5Nc81sRbFMyJG",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/chats/{{ $json.id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": {\n    \"contentType\": \"html\",\n    \"content\": \"{{ $('Gerar Resumo').first().json.content }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        -592
      ],
      "id": "5da0a27a-c052-4dd1-b773-8905ce721b3e",
      "name": "Enviar mensagem",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "gqm5Nc81sRbFMyJG",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tasks = $('Transformar Tarefas').all().map(i => i.json);\n\n// 1. Pega o parecer em HTML gerado pelo Claude (Anthropic)\nconst aiResponse = $input.first().json;\nconst parecerAI = aiResponse.text || \"Não foi possível carregar o parecer da IA.\";\n\n// 2. Pega os detalhes brutos\nconst details = $('Buscar detalhes Completo').all().map(i => i.json);\n\n// 3. Mescla tarefas com seus respectivos detalhes\nconst enrichedTasks = tasks.map(task => {\n  const detail = details.find(d => d.id === task.plannerTaskId);\n  return {\n    ...task,\n    description: detail ? detail.description : \"\",\n    checklist: detail ? detail.checklist : {}\n  };\n});\n\n// 4. Mapeia as descrições dos bloqueios\nconst blockedDescMap = {};\nenrichedTasks.forEach(t => {\n  if (t.status === \"Bloqueado\") {\n    blockedDescMap[t.plannerTaskId] = t.description || \"Motivo não informado.\";\n  }\n});\n\n// ── PERÍODO (Seg–Sex da semana anterior) ──\nconst today = new Date();\nconst dow = today.getDay();\nconst daysToThisMonday = dow === 0 ? 6 : dow - 1;\nconst lastMonday = new Date(today);\nlastMonday.setDate(today.getDate() - daysToThisMonday - 7);\nlastMonday.setHours(0, 0, 0, 0);\nconst lastFriday = new Date(lastMonday);\nlastFriday.setDate(lastMonday.getDate() + 4);\nlastFriday.setHours(23, 59, 59, 999);\nconst fmtBR  = d => d.toLocaleDateString(\"pt-BR\");\nconst fmtISO = s => s ? new Date(s+\"T00:00:00\").toLocaleDateString(\"pt-BR\") : \"—\";\nconst period = `${fmtBR(lastMonday)} a ${fmtBR(lastFriday)}`;\nconst hoje = fmtBR(today);\n\n// ── MÉTRICAS DOS BUCKETS E STATUS ──\nconst total       = tasks.length;\nconst backlog     = tasks.filter(t => t.isBacklog).length;\nconst planejadas  = tasks.filter(t => t.isPlanejamentoSemana).length;\nconst emAndamento = tasks.filter(t => t.status === \"Em andamento\").length;\nconst bloqueadas  = tasks.filter(t => t.status === \"Bloqueado\").length;\nconst atrasadas   = tasks.filter(t => t.status === \"Atrasado\").length;\nconst concluidas  = tasks.filter(t => t.status === \"Concluído\").length;\n\n// SLA: calculo interno para decidir o diagnóstico\nconst concluidasTasks = tasks.filter(t => t.status === \"Concluído\");\nconst concluidasNoPrazo = concluidasTasks.filter(t => {\n  if (!t.prazo) return true;\n  if (!t.completedDateTime) return false;\n  return t.completedDateTime <= t.prazo;\n}).length;\nconst sla = concluidas > 0 ? Math.round((concluidasNoPrazo / concluidas) * 100) : 100;\nconst healthIndex = sla;\nconst healthLabel = sla >= 75 ? \"SAUDÁVEL\" : sla >= 60 ? \"ATENÇÃO\" : \"CRÍTICO\";\nconst slaLabel = healthLabel;\n\nconst impedimentos = tasks.filter(t => t.status === \"Bloqueado\");\nconst planejadasList = tasks.filter(t => t.isPlanejamentoSemana);\nconst conclSemana  = tasks.filter(t => {\n  if(!t.completedDateTime) return false;\n  const c = new Date(t.completedDateTime);\n  return c >= lastMonday && c <= lastFriday;\n});\n\nconst sp  = `<br>`;\nconst div = `<hr>`;\n\nlet h = \"\";\n\n// ==========================================\n// 1. CABEÇALHO & SAUDAÇÃO DO ARGOS IA\n// ==========================================\nh += `<h1>📋 RELATÓRIO EXECUTIVO GRC</h1>`;\nh += `<h3><b>Período:</b> ${period} &nbsp;|&nbsp; <b>Emitido em:</b> ${hoje}</h3>`;\nh += sp;\n\nh += `<blockquote>`;\nh += `<p><font size='4'>☕ <b>Olá Ungaro, Bom dia! Aqui é o Argos IA.</b></font></p>`;\nh += `<br>`;\nh += `<p><font size='3'>Como o agente autônomo do time de Segurança, Governança e Processos, acabei de consolidar o desempenho da nossa última semana operacional. Meu objetivo é garantir visibilidade total sobre a saúde das nossas frentes.</font></p>`;\nh += `<br>`;\n\nif (healthIndex >= 75) {\n  h += `<p><font size='3'>✨ <b>O diagnóstico rápido:</b> Tivemos um avanço sólido na maioria das iniciativas, mas trago logo abaixo alguns pontos de atenção e bloqueios que precisam do seu olhar estratégico para continuarmos acelerando o time sem gargalos.</font></p>`;\n} else if (healthIndex >= 60) {\n  h += `<p><font size='3'>⚠️ <b>O diagnóstico rápido:</b> Estamos operando em nível de <b>ATENÇÃO</b> devido a gargalos pontuais em algumas entregas. Recomendo foco especial na seção de <i>Ação Solicitada ao VP</i> para destravarmos as frentes afetadas.</font></p>`;\n} else {\n  h += `<p><font size='3'>🚨 <b>O diagnóstico rápido:</b> Atenção máxima. Identifiquei impedimentos severos que estão impactando diretamente a nossa linha do tempo. Detalhei cada um deles abaixo para sua intervenção imediata.</font></p>`;\n}\n\nh += `</blockquote>`;\nh += div;\n\n// 2. PONTOS DE ATENÇÃO\nh += `<h2>🚨 PONTOS DE ATENÇÃO</h2>`;\nh += sp;\nif(impedimentos.length === 0) {\n  h += `<p><font size='4'>✅ <b>Nenhum impedimento registrado no ciclo atual.</b></font></p>`;\n} else {\n  impedimentos.forEach(t => {\n    const dias = Math.floor((new Date() - new Date(t.inicio)) / (1000*60*60*24));\n    const motivo = blockedDescMap[t.plannerTaskId] || \"Motivo não informado.\";\n    h += `<p><font size='4'>🔴 <b>Demanda &quot;${t.atividade.replace(/\"/g, '&quot;')}&quot;</b><br>`;\n    h += `Área: ${t.areaCliente} &nbsp;|&nbsp; BLOQUEADO HÁ <b>${dias} DIAS</b><br>`;\n    h += `Responsável: ${t.responsavel}<br>`;\n    h += `<b>Motivo:</b> ${motivo}</font></p>`;\n  });\n}\nh += div;\n\n// 3. MACRO ATIVIDADES (TABELA DE BUCKETS)\nh += `<h2>MACRO ATIVIDADES</h2>`;\nh += sp;\nh += `<table>`;\nh += `<tr>`;\nh += `<th><font size='4'>BACKLOG</font></th>`;\nh += `<th><font size='4'>PLANEJADAS</font></th>`;\nh += `<th><font size='4'>EM ANDAMENTO</font></th>`;\nh += `<th><font size='4'>BLOQUEIOS</font></th>`;\nh += `<th><font size='4'>ATRASADAS</font></th>`;\nh += `<th><font size='4'>CONCLUÍDAS</font></th>`;\nh += `</tr>`;\nh += `<tr>`;\nh += `<td><font size='6'><b>${backlog}</b></font></td>`;\nh += `<td><font size='6'><b>${planejadas}</b></font></td>`;\nh += `<td><font size='6'><b>${emAndamento}</b></font></td>`;\nh += `<td><font size='6'><b>${bloqueadas}</b></font></td>`;\nh += `<td><font size='6'><b>${atrasadas}</b></font></td>`;\nh += `<td><font size='6'><b>${concluidas}</b></font></td>`;\nh += `</tr>`;\nh += `</table>`;\nh += div;\n\n// 4. DESTAQUES DA SEMANA\nh += `<h2>📅 DESTAQUES DA SEMANA</h2>`;\nh += sp;\n\nh += `<h3>Demandas Planejadas para esta semana</h3>`;\nh += sp;\nif(planejadasList.length === 0) {\n  h += `<p><font size='4'><i>Nenhuma atividade planejada.</i></font></p>`;\n} else {\n  h += `<table>`;\n  h += `<tr><th><font size='3'>Iniciativa</font></th><th><font size='3'>Área</font></th><th><font size='3'>Resp.</font></th><th><font size='3'>Prazo</font></th></tr>`;\n  planejadasList.forEach(t => {\n    h += `<tr><td><font size='3'>${t.atividade.replace(/\"/g, '&quot;')}</font></td><td><font size='3'>${t.areaCliente}</font></td><td><font size='3'>${t.responsavel}</font></td><td><font size='3'>${fmtISO(t.prazo)}</font></td></tr>`;\n  });\n  h += `</table>`;\n}\n\nh += sp;\nh += `<h3>Concluídas na semana passada</h3>`;\nh += sp;\nif(conclSemana.length === 0) {\n  h += `<p><font size='4'><i>Nenhuma entrega no período de ${period}.</i></font></p>`;\n} else {\n  h += `<table>`;\n  h += `<tr><th><font size='3'>Iniciativa</font></th><th><font size='3'>Área</font></th><th><font size='3'>Responsável</font></th></tr>`;\n  conclSemana.forEach(t => {\n    h += `<tr><td><font size='3'>${t.atividade.replace(/\"/g, '&quot;')}</font></td><td><font size='3'>${t.areaCliente}</font></td><td><font size='3'>${t.responsavel}</font></td></tr>`;\n  });\n  h += `</table>`;\n}\nh += div;\n\n// 5. PARECER ARGOS IA (REAL, GERADO NATIVAMENTE PELO CLAUDE)\nh += `<h2>🤖 PARECER ARGOS IA</h2>`;\nh += sp;\nh += `<blockquote>`;\nh += `<p><font size='3'>${parecerAI}</font></p>`;\nh += `</blockquote>`;\nh += div;\n\n// 6. FOOTER\nh += `<p><font size='3'><i>Compilado por Agente de IA - GRC &nbsp;|&nbsp; ${hoje}</i></font></p>`;\nh += `<p><font size='3'>Para maiores detalhes acesse o site - <a href='https://grcreport.vercel.app/' style='color: #ff7400; text-decoration: underline;'>GRC Command Center</a></font></p>`;\n\nconst content = h.replace(/\\n/g, '');\nreturn [{ json: { content, healthIndex, total, concluidas, atrasadas: bloqueadas + atrasadas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -592
      ],
      "id": "0a452187-4567-4d13-9c05-3b94a3813882",
      "name": "Gerar Resumo"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst CLIENT_EMAIL = 'firebase-adminsdk-fbsvc@grc-control.iam.gserviceaccount.com';\nconst PRIVATE_KEY = `-----BEGIN PRIVATE KEY-----\\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDXdRBaM2zHjNui\\nGW7Vb19nPgixe54sxQnKh702hq/ZOBvCprx135xYG2BqgWnZJmiYXWZVsW+GFoSd\\nVX6jSQeqdeE5029vUEw8/ZS6LxzEFWQYnO4p8z37Ucch3uWLyPx7ccka5b/Y6m2l\\nQ2jclUI04b/ce29lSk28rVLs2pag3FdzDMLo+l2kyjBezruoOsdzmrZ2Rn3Xt9P4\\n/nowjvO2qN59zwATolLk1legbegJ7og1x+rMjh0hPiKqv5sh0cjbE/yEqI5+KniH\\nZ4H2E8QCMjKvDu6HrVsWy6x1VZE16A3Iybt+0pqUu93Yf25w6GlYvW+aHjlR6iyl\\nhN/oZzE7AgMBAAECggEAEHHE372RDeH4WXTreqrXcz/O1g0DU5NuXeDiVikNftzD\\ncaXcOHrqqebdAwQBmitOTGLEjsHOK0PIt2FxGvFV/nKk0A8NMEfGqdkI4vT5kxW2\\n4BIKM3V3Q5lIQ5OJnZOngZx7puvmKp4p5DUy6bMSrIqWZDOfmvGC4WWxMJa2bGyA\\n9UpvA2/Ps0Ub3VdhzperECjE2h1Mt/8goY0UOOs4UfYDsSHsQzgNLR+7PspLMS1Q\\n08kdNTRSwtJsEBZf6dsGHga2BSVo4j8HYB2o20Hrd+N1AkgQAzmu/eKsnGrx/9SW\\nYCAEiy/YcmI9mDoqjNBVGMiJ1+jKzpmlc8AskiMVcQKBgQD1mEtxGf2lFMgCOQF1\\nIUyGZYNaaYdUkQ7PYcZxXW5D0OjvW6bm/7ekrXe1Kfsq3yy0+9kgv7nUWNL7WsGe\\nXS9coMtQsWmdy0JwygkMPC+pZSiuidB9toZrfHtprMJvu0nyFTATWXVXWMdGQnqS\\nptqHhW39XFi35Z18IImhFZQnrwKBgQDgleYNB6biyA9Tlomo5TrwTXXJBFhz1FVB\\nj90mtrNN4SBfxaTNYEKwaHSfd7M53hBvx3+TlCwB/oGGYMGypfsrYXHrZcA32yNQ\\nw/gnRax8YEp34DL2H/vvHPDWOh0W5XNPxA9V49Wn12dWdjKSwdIBtFBwEZ9J+byQ\\nt3asiVkmNQKBgBDG95hhWyd01Pj55fSXcr/XnXKGtPz879MQ7dp+tHKjidYYH722\\nCFiSlRPmK0dReZ9feQS4tDwiWT9cgs+LtBmSznDTvdBOu1ozIw0X63WZ+H574adE\\n2cfr+A5PA/VYCQQlmGQp/08ZPHu7PN5Z0aHiZpIhRdpCMFDzdBNyAu33AoGAXoF1\\njyIbLe8109zTDMl5ZcmSuQYlGojNX4tkangTN8B2WRbYZLwPFCDAgqJiPwWdMQxo\\nOPfvFN++LYfluoFyEi0tPPtSSa7jS4dLk2sUTDpQ2+TyTPPklhg9mEhYGVxwi65b\\nLa90Ju7Tw2R1n6AD+UehWadwujZnDRbGz4/0fckCgYBjqua/ffyT5C3iI8oi2vWc\\nub9PLcI2Ng+QtpIV42hFz3nGGOYGsrqqIchMmOYsqDuFmq0FYei0U1iN+xXBID3p\\ndELfj4/EG24gMfGOZ37Ea8CPMv3WjoNDmJv/H6rOdRdThJqabteaHvHUO9bbRGoK\\nVDaDDnen0+BrslkuaoxZsA==\\n-----END PRIVATE KEY-----\\n`;\n\nconst header = Buffer.from(JSON.stringify({alg:'RS256',typ:'JWT'})).toString('base64url');\nconst now = Math.floor(Date.now()/1000);\nconst payload = Buffer.from(JSON.stringify({\n  iss: CLIENT_EMAIL,\n  scope: 'https://www.googleapis.com/auth/datastore',\n  aud: 'https://oauth2.googleapis.com/token',\n  iat: now,\n  exp: now + 3600\n})).toString('base64url');\n\nconst signingInput = `${header}.${payload}`;\nconst sign = crypto.createSign('RSA-SHA256');\nsign.update(signingInput);\nconst signature = sign.sign(PRIVATE_KEY, 'base64url');\n\nreturn [{ json: { jwt: `${signingInput}.${signature}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -224
      ],
      "id": "569bddc1-905b-4606-be71-2b861fa61345",
      "name": "Gerar Token Firestore"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $json.jwt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        -224
      ],
      "id": "a64bd47b-b69e-434d-8278-c44cb564250d",
      "name": "Trocar JWT por Token"
    },
    {
      "parameters": {
        "jsCode": "const token = $input.first().json.access_token;\nconst baseTasks = $('Transformar Tarefas').all().map(i => i.json);\n\nlet detailsList = [];\ntry {\n  detailsList = $('Buscar Detalhes Completo').all().map(i => i.json);\n} catch (e) {\n  try {\n    detailsList = $('Buscar detalhes Completo').all().map(i => i.json);\n  } catch (err) {}\n}\n\nconst enriched = baseTasks.map(t => {\n  const detail = detailsList.find(d => d.id === t.plannerTaskId) || {};\n  return {\n    ...t,\n    // Garante escape de aspas e quebras de linha (evita quebra de JSON no HTTP Request)\n    atividade: JSON.stringify(t.atividade || \"\").slice(1, -1),\n    observacoes: JSON.stringify(detail.description || \"\").slice(1, -1),\n    _token: token\n  };\n});\n\nreturn enriched.map(t => ({ json: t }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -224
      ],
      "id": "afc4341d-5704-4b7f-b509-9f17a8cf4631",
      "name": "Preparar Tasks com Token"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/grc-control/databases/(default)/documents/activities/{{ $json.plannerTaskId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json._token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"plannerTaskId\":       {\"stringValue\": \"{{ $json.plannerTaskId }}\"},\n    \"id\":                  {\"stringValue\": \"{{ $json.id }}\"},\n    \"atividade\":           {\"stringValue\": \"{{ $json.atividade }}\"},\n    \"pilar\":               {\"stringValue\": \"{{ $json.pilar }}\"},\n    \"areaCliente\":         {\"stringValue\": \"{{ $json.areaCliente }}\"},\n    \"responsavel\":         {\"stringValue\": \"{{ $json.responsavel }}\"},\n    \"prioridade\":          {\"stringValue\": \"{{ $json.prioridade }}\"},\n    \"status\":              {\"stringValue\": \"{{ $json.status }}\"},\n    \"inicio\":              {\"stringValue\": \"{{ $json.inicio }}\"},\n    \"prazo\":               {\"stringValue\": \"{{ $json.prazo }}\"},\n    \"percentualConcluido\": {\"integerValue\": \"{{ $json.percentualConcluido }}\"},\n    \"entregavel\":          {\"stringValue\": \"{{ $json.entregavel }}\"},\n    \"observacoes\":         {\"stringValue\": \"{{ $json.observacoes }}\"}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        -224
      ],
      "id": "d2146db6-1ccc-4022-aaac-25826df16af1",
      "name": "Gravar no Firestore"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/planner/tasks/{{ $json.plannerTaskId }}/details",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -560,
        -592
      ],
      "id": "6dcd40b6-9c72-4155-8fce-dac56aa74eaa",
      "name": "Buscar detalhes Completo",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "gqm5Nc81sRbFMyJG",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const baseTasks = $('Transformar Tarefas').all().map(i => i.json);\nconst detailsList = $input.all().map(i => i.json);\n\nconst enrichedTasks = baseTasks.map(task => {\n  const detail = detailsList.find(d => d.id === task.plannerTaskId) || {};\n  return {\n    ...task,\n    description: detail.description || \"\",\n    checklist: detail.checklist || {}\n  };\n});\n\nconst blocked    = enrichedTasks.filter(t => t.status === \"Bloqueado\");\nconst inProgress = enrichedTasks.filter(t => t.status === \"Em andamento\" || t.status === \"Atrasado\" || t.status === \"Validação\");\nconst planned    = enrichedTasks.filter(t => t.isPlanejamentoSemana);\nconst completed  = enrichedTasks.filter(t => t.status === \"Concluído\");\n\n// ── KPIs CALCULADOS (números fixos pro modelo não inventar) ──\nconst scopeTasks = enrichedTasks.filter(t => !t.isBacklog);\nconst totalScope = scopeTasks.length;\nconst taxaConclusao = totalScope > 0 ? Math.round((completed.length / totalScope) * 100) : 0;\n\nconst pilarCount = {};\nscopeTasks.forEach(t => {\n  pilarCount[t.pilar] = (pilarCount[t.pilar] || 0) + 1;\n});\nconst distribuicaoPilar = Object.entries(pilarCount)\n  .map(([pilar, qtd]) => `${pilar} (${Math.round(qtd/totalScope*100)}%)`)\n  .join(\", \");\n\nconst areasUnique = new Set(\n  scopeTasks.map(t => t.areaCliente).filter(a => a && a !== \"Todas as áreas\")\n);\nconst coberturaAreas = areasUnique.size;\n\nfunction compileTasksText(taskList) {\n  if (taskList.length === 0) return \"Nenhuma demanda registrada nesta categoria.\";\n  return taskList.map(t => {\n    let text = `- Demanda: \"${t.atividade}\" (Pilar: ${t.pilar} | Área Cliente: ${t.areaCliente})\\n`;\n    if (t.description) text += `  Anotações: ${t.description.trim()}\\n`;\n    const checklist = t.checklist || {};\n    const checklistKeys = Object.keys(checklist);\n    if (checklistKeys.length > 0) {\n      text += `  Checklist:\\n`;\n      checklistKeys.forEach(k => {\n        const item = checklist[k];\n        text += `    - [${item.isChecked ? \"x\" : \" \"}] ${item.title}\\n`;\n      });\n    }\n    return text;\n  }).join(\"\\n\");\n}\n\nconst context = `Você é o Argos IA, agente autônomo de Governança, Segurança e Processos (GRC) da Spread Labs.\n\nSua tarefa é gerar UM PARECER EXECUTIVO em HTML seguindo OBRIGATORIAMENTE o template abaixo, sem alterar estrutura, ordem, títulos ou emojis.\n\n═══════════════════════════════════════════════════════\nDADOS DA SEMANA OPERACIONAL\n═══════════════════════════════════════════════════════\n\n[BLOQUEADAS / IMPEDIMENTOS]\n${compileTasksText(blocked)}\n\n[EM ANDAMENTO]\n${compileTasksText(inProgress)}\n\n[PLANEJADAS DA SEMANA]\n${compileTasksText(planned)}\n\n[CONCLUÍDAS]\n${compileTasksText(completed)}\n\n═══════════════════════════════════════════════════════\nKPIs JÁ CALCULADOS — USE ESTES VALORES EXATOS (NÃO RECALCULE)\n═══════════════════════════════════════════════════════\n- Taxa de Conclusão: ${taxaConclusao}%\n- Distribuição por Pilar: ${distribuicaoPilar}\n- Cobertura de Áreas: ${coberturaAreas} áreas cliente\n- Total de Concluídas no acumulado: ${completed.length}\n\n═══════════════════════════════════════════════════════\nTEMPLATE HTML OBRIGATÓRIO (RETORNE EXATAMENTE NESTE FORMATO)\n═══════════════════════════════════════════════════════\n\n<b>PARECER EXECUTIVO SEMANAL - GOVERNANÇA, SEGURANÇA E PROCESSOS</b><br>\n<b>STATUS CONSOLIDADO DAS FRENTES ESTRATÉGICAS</b><br><br>\n\n<b>🔴 BLOQUEIOS CRÍTICOS IDENTIFICADOS</b><br>\n[Se não houver bloqueios: \"Nenhum bloqueio crítico identificado no ciclo atual.\"<br>Se houver: 1 parágrafo por bloqueio descrevendo impacto operacional e escalamento necessário.]<br><br>\n\n<b>🟡 FRENTES EM ANDAMENTO - ANÁLISE DE PROGRESSO</b><br>\n<b>Pilar Segurança da Informação:</b> [Parágrafo de 3-5 linhas analisando as tarefas em andamento desse pilar. Cite progresso real com base nos checklists e descrições. Use percentuais derivados dos checklists.]<br><br>\n<b>Pilar Processos/Lean:</b> [Parágrafo de 3-5 linhas analisando as tarefas em andamento desse pilar. Mesma abordagem.]<br><br>\n\n<b>🟢 ENTREGAS ESTRATÉGICAS FINALIZADAS</b><br>\n[Parágrafo introdutório consolidando o tema das entregas, seguido de lista em bullets:]<br>\n• [Entrega 1]<br>\n• [Entrega 2]<br>\n• [Entrega 3]<br>\n[Adicione 1 parágrafo final destacando entregas em processos administrativos, se houver.]<br><br>\n\n<b>📊 INDICADORES DE PERFORMANCE</b><br>\n• <b>Taxa de Conclusão:</b> ${taxaConclusao}% das demandas planejadas entregues<br>\n• <b>Distribuição por Pilar:</b> ${distribuicaoPilar}<br>\n• <b>Cobertura de Áreas:</b> ${coberturaAreas} áreas cliente atendidas simultaneamente<br><br>\n\n<b>DIRETRIZES ESTRATÉGICAS - PRÓXIMA SEMANA OPERACIONAL</b><br><br>\n<b>PRIORIDADE MÁXIMA:</b> [1 frase com a ação mais crítica derivada dos bloqueios ou maior risco.]<br><br>\n<b>FOCO EXECUTIVO:</b><br>\n• [Ação concreta 1]<br>\n• [Ação concreta 2]<br>\n• [Ação concreta 3]<br>\n• [Ação concreta 4]<br><br>\n<b>MONITORAMENTO CONTÍNUO:</b> [1-2 frases sobre frentes que exigem acompanhamento próximo.]<br><br>\n\n<i>Parecer consolidado pelo Argos IA - Sistema Autônomo de Governança</i>\n\n═══════════════════════════════════════════════════════\nREGRAS ABSOLUTAS (descumprir = parecer rejeitado)\n═══════════════════════════════════════════════════════\n1. Use EXATAMENTE os títulos e emojis do template (🔴 🟡 🟢 📊). NÃO renomeie nem reordene seções.\n2. NUNCA cite nomes próprios de pessoas (Marcos, Priscilla, Leonardo, Claudia, etc.). Use \"equipe\", \"frente\", \"responsável\", \"time de [área]\".\n3. Use EXATAMENTE os valores de KPIs fornecidos acima. NÃO invente ou recalcule números.\n4. Linguagem VP-level: confiante, estratégica, profissional. Evite jargão técnico desnecessário.\n5. Analise os checklists para evidenciar progresso real (% concluído, marcos atingidos, pendências).\n6. Retorne APENAS o HTML do template, sem tags <html>, <body>, sem markdown, sem comentários.\n7. Se um pilar não tiver tarefas em andamento, escreva: \"Sem frentes ativas neste pilar no ciclo atual.\"\n8. Se não houver entregas concluídas, escreva: \"Nenhuma entrega consolidada no ciclo atual.\"\n9. PROIBIDO inventar números agregados. Os ÚNICOS números aceitos no parecer são:\n   - Taxa de Conclusão: ${taxaConclusao}%\n   - Percentuais de Distribuição por Pilar (fornecidos acima)\n   - Número de Cobertura de Áreas (fornecido acima)\n   - Percentuais derivados de checklists individuais (ex: \"75% dos itens do checklist concluídos\")\n   - Total de concluídas se necessário citar: ${completed.length}\n10. NÃO calcule somas, médias ou consolidados de demandas além do que está fornecido nos KPIs.\n`;\n\nreturn [{ json: { prompt: context } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -592
      ],
      "id": "1c2e639a-c029-4bd7-bf21-ee1a27806afd",
      "name": "Preparar prompt IA"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -192,
        -592
      ],
      "id": "149390f6-6199-442d-ae2e-0051dbfe7cb5",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        -192,
        -432
      ],
      "id": "1eaf24aa-b145-41dc-b9d3-850b646c5184",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "9Usoy2rPIzGqIwrl",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "SGSI Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SGSI Tasks": {
      "main": [
        [
          {
            "node": "SGSI Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SGSI Details": {
      "main": [
        [
          {
            "node": "Automação Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automação Tasks": {
      "main": [
        [
          {
            "node": "Automação Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automação Details": {
      "main": [
        [
          {
            "node": "Transformar Tarefas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar Tarefas": {
      "main": [
        [
          {
            "node": "Gerar Token Firestore",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar detalhes Completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Chat": {
      "main": [
        [
          {
            "node": "Enviar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Resumo": {
      "main": [
        [
          {
            "node": "Criar Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Token Firestore": {
      "main": [
        [
          {
            "node": "Trocar JWT por Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trocar JWT por Token": {
      "main": [
        [
          {
            "node": "Preparar Tasks com Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Tasks com Token": {
      "main": [
        [
          {
            "node": "Gravar no Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar detalhes Completo": {
      "main": [
        [
          {
            "node": "Preparar prompt IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar prompt IA": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Gerar Resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensagem": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "395feee7-5c04-40f2-84a8-8809143b90a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b611be7f605965f4a41304dd2f815af29ef73668724c6db9f8d923f2eff2607"
  },
  "id": "gTi6vM5xl9YQBQQy",
  "tags": []
}